*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
:root{
  --darkgreen: #028174;
  --midgreen: #0BB68C;
  --lightgreen: #94DD8B;
  --skin: #FFE3B3;
  --gradient: linear-gradient(-90deg, #028174 0%, #0BB68C 100%);
  --gradientSupport: -webkit-linear-gradient(
    0deg,
    #94DD8B  50%,
    #0BB68C 50%
  );
  --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
  --shadowSupport: 0px 20px 20px 0px rgb(132 144 255 / 30%);
}
body{
  background: var(--gradientSupport);
}


.heading__style{
  color: var(--skin);
  width: 90%;
  display: flex;
  flex-flow: wrap column;
  border-radius: 6rem;
  margin: 2rem auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 4.5rem;
  text-align: center;
  letter-spacing: 1spx;
  font-weight: 900;
  margin-bottom: 30px;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.486);
}

.slotMachine{
  width: 70%;
  display: flex;
  flex-flow: column wrap;
  margin: 4rem auto;
  justify-content: center;
  align-items: center;
  
}
.slotDisplay{
  background-color: var(--gradient) ;
  display: flex;
  flex: 1 0 auto;
  /*  flex-grow, flex-shrink, flex-basis. */
  justify-content: center;
  align-items: center;
  width: 100%;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.486);
  border-radius: 10rem;
  /* transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1); */
  box-shadow: 12px 12px 18px -8px rgba(0, 0, 0, 0.486);
  /* height width blur up/down */
  margin: 0rem auto;
  padding: 3rem;
}
#row1, #row2, #row3{
  background: var(--skin) ;
  display: flex;
  flex: 1 1 auto;
  text-align: center;
  font-size: 9rem;
  height: 14rem;
  width: 10rem;
  margin: 0rem  1.5rem;
  border-radius: 22rem;

}
#shuffle{
  padding: 1rem 2.5rem;
  margin: 2rem;
  background: var(--gradient);
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--skin);
  text-transform: capitalize;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  text-transform: uppercase;
}
#shuffle:hover{
  box-shadow: 12px 12px 18px -8px rgba(0, 0, 0, 0.486);
  transform: scale(1.05, 1.05);
  background: var(--gradient);
  cursor: pointer;
}
.history{
  text-align: center;
}
#lastOutput{
  padding: 1.5rem;
  height: 13rem;
  background: var(--gradient);
  border: none;
  border-radius: 10rem;
  width: 60%;
  font-size: 6.5rem;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.486);
  box-shadow: 12px 12px 18px -8px rgba(0, 0, 0, 0.486);
  text-align: center;
  resize: none;
  overflow: hidden;
}


@media screen and ( max-width: 1024px){
  .heading__style{
    font-size: 3rem;
  }
  .slotMachine{
    margin: 3rem auto;
  }
  .slotDisplay{
    border-radius: 10rem;
    margin: 0rem auto;
    padding: 2rem;
  }
  #row1, #row2, #row3{
  font-size: 8rem;
  height: 11.5rem;
  width: 11.5rem;
  }

}

@media screen and (max-width:912px){

  .heading__style{
    margin: 5rem auto;
    font-size: 3.4rem;
  }
  .slotMachine{
    margin: 3rem auto;
  }
  .slotDisplay{
    padding: 2rem;
    width: auto;
    margin: auto -2rem;
  }
  #row1, #row2, #row3{
    font-size: 7rem;
    margin: 0.2rem;
    height: 12.5rem;
    width: 12.5rem;
  }
  #lastOutput{
    height: 12rem;  
    width: 32rem;
    font-size: 6rem;
    padding: 1.7rem ;
     
  }
}

@media screen and (max-width:768px){

  .heading__style{
    font-size: 3.5rem;
    margin: 1rem auto;
  }
  .slotMachine{
    margin: 3rem auto;
    
    justify-content: center;
    align-items: center;
  }
  .slotDisplay{
    padding: 2rem;
    width: auto;
    margin: auto -4rem;
  }
  #row1, #row2, #row3{
    font-size: 7rem;
    margin: 1rem;
    height: 10.5rem;
    width: 10.5rem;
  }
  #lastOutput{
    height: 10rem;  
    width: 27rem;
    font-size: 5rem;
    padding: 1rem ;
     
  }
}

@media screen and (max-width:720px){
  .heading__style{
    font-size: 3.5rem;
    margin: 1rem auto;
  }
  .slotMachine{
    margin: 2rem auto;
  }
  .slotDisplay{
    padding: 0rem ;
    width: auto;
    margin: auto -3rem;
  }
}

@media screen and (max-width:600px){
  .heading__style{
    font-size: 3.5rem;
    margin: 1rem auto;
  }
  .slotMachine{
    margin: 2rem auto;
  }
  .slotDisplay{
    padding: 0rem ;
    width: auto;
    margin: auto -6rem;
  }
  #row1, #row2, #row3{
    font-size: 6rem;
    margin: 1rem;
    height: 8.5rem;
    width: 8.5rem;
  }
}

@media screen and (max-width:540px){

  .heading__style{
    font-size: 2.5rem;
  }
  .slotMachine{
    margin: 3rem auto;
    
    justify-content: center;
    align-items: center;
  }
  .slotDisplay{
    padding: 2rem;
    width: auto;
    margin: auto -2rem;
  }
  #row1, #row2, #row3{
    font-size: 4rem;
    margin: 0.2rem;
    height: 7.5rem;
    width: 7.5rem;
  }
  #lastOutput{
    height: 7rem;  
    width: 20rem;
    font-size: 3.5rem;
    padding: 1rem ;
     
  }
}

@media screen and (max-width:500px){
  .heading__style{
    font-size: 2.5rem;
    margin: 1rem auto;
  }
  .slotMachine{
    margin: 2rem auto;
  }
  .slotDisplay{
    padding: 1rem ;
    width: auto;
    margin: auto -3rem;
  }
  #row1, #row2, #row3{
    font-size: 4rem;
    margin: 0.2rem;
    height: 7.5rem;
    width: 7.5rem;
  }
}
@media screen and (max-width:456px){
  .heading__style{
    font-size: 2.3rem;
    margin: 1rem auto;
  }
  .slotMachine{
    margin: 2rem auto;
  }
  .slotDisplay{
    padding: 1rem ;
    width: auto;
    margin: auto -3rem;
  }
  #row1, #row2, #row3{
    font-size: 4rem;
  }
}
@media screen and (max-width:414px){
  .heading__style{
    font-size: 2rem;
    font-weight: 800;
  }
  .slotDisplay{
    flex-flow: column wrap;
    padding: 3rem;
    width: auto;
    margin: auto -4rem;
  }
  #row1, #row2, #row3{
    font-size: 6rem;
    margin: 0.2rem;
    height: 9.5rem;
    width: 9.5rem;
  }
  #lastOutput{
    font-size: 3.3rem;
    width: 100%;
    padding: 1rem;
  }
}


@media screen and (max-width:412px){
  .heading__style{
    font-size: 2rem;
    font-weight: 800;
  }
  .slotDisplay{
    flex-flow: column wrap;
    padding: 3rem;
    width: auto;
    margin: auto -4rem;
  }
  #row1, #row2, #row3{
    font-size: 6rem;
    margin: 0.2rem;
    height: 9.5rem;
    width: 9.5rem;
  }
  #lastOutput{
    font-size: 3.3rem;
    width: 100%;
    padding: 1rem;
  }
}

@media screen and (max-width:393px){
  .heading__style{
    font-size: 2rem;
    font-weight: 800;
    margin: 1rem auto;
  }
  .slotDisplay{
    flex-flow: column wrap;
    padding: 2rem;
    width: auto;
    margin: auto -4rem;
  }
  #lastOutput{
    font-size: 2.5rem;
    width: 100%;
    padding: 0.5rem;
    height: 5rem;
  }
}

@media screen and (max-width:360px){
  .heading__style{
    font-size: 2rem;
    font-weight: 800;
    margin: 1rem auto;
  }
  .slotDisplay{
    flex-flow: column wrap;
    padding: 2rem;
    width: auto;
    margin: auto -4rem;
  }
  #lastOutput{
    font-size: 2.5rem;
    width: 100%;
    padding: 0.5rem;
    height: 5rem;
  }
}

@media screen and (max-width:280px){
  .heading__style{
    font-size: 1.75rem;
  }
  #row1, #row2, #row3{
    font-size: 6rem;
    margin: 0.3rem;
    height: 9.5rem;
    width: 9.5rem;
  }
  #lastOutput{
    height: 12rem;  
    font-size: 3rem;
    padding: 1.5rem ;
  }
}